*{
    margin: 0;
    padding: 0;
}
.bg-dark{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.65);
    
}
.bg-container{
    border: 1px solid black;
    margin: 50px auto;
    height: 180px;
    max-width: 850px;
    position: relative
}
.bg-elem{
    width: 17.6%;
    height: 150px;
    background: #ff5050;
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 15px;
    z-index: 1;
}
.bg-elem:nth-child(2){
    background: #50ffae;
    left: 21.6%;
}
.bg-elem:nth-child(3){
    background: #9f76fd;
    left: 41.2%;

}
.bg-elem:nth-child(4){
    background: #e876fd;
    left: 60.6%;
}
.bg-elem:nth-child(5){
    background: #fdfd76;
    left: 80.2%;
}